
## Environment Variables
## =====================
  ## Username
    export ME=$(whoami)

  ## Library Paths
  ## These variables tell your shell where they can find certain
  ## required libraries so other programs can reliably call the variable name
  ## instead of a hardcoded path.
    export GPG_TTY=$(tty)

  ## User Paths
    export PATH_TO_PLAYGROUND="$HOME/playground"
    export PATH_TO_PROJECTS="$HOME/Projects"
    export PATH_TO_JOURNAL="$HOME/journal"

  ## Configurations
    ## GIT_MERGE_AUTO_EDIT
    ## This variable configures git to not require a message when you merge.
    export GIT_MERGE_AUTOEDIT='no'
    export PKG_CONFIG_PATH=/usr/bin/pkg-config
    export STARSHIP_CONFIG=~/.config/starship/starship.toml

## Editors
  ## Tells your shell that when a program requires various editors, use VSCode.
  export EDITOR="code"
  export GIT_EDITOR="code --w"


## Enables local changes – must be last line
[ -f ".exports.local" ] && source ".exports.local"
